#main{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#mainFeed{
	border-right:1px solid gray;
}
#filters{
	height:300px;
	background-color:#F2F2F2;
}
#description{
	width: 300px;
	resize:none;
}