h1{
	padding-top:10px;
	padding-bottom:25px;
}
#main{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
}
nav.navbar.navbar-default.navbar-fixed-top{
	box-shadow: 5px 5px 6px #ddd;
}
#filters{
	height:240px;
	background-color:#F2F2F2;
	margin-top:100px;
	padding:10px;
	position:fixed;
	box-shadow: 5px 5px 6px #ddd;

}
#description{
	width: 500px;
	/*height: 200px;*/
	/*resize:none;*/
  overflow: auto;
}
#slogan{
	font-size: large;
    margin-top: 20px;
    padding-left: 10px;
    color: whitesmoke;
    font-style: italic;
    text-decoration: underline;
}
.modal-body{
	margin-left:20px;
	font-size:18px;
}
#filtersubmit{
	margin-left:80px;
}

.container-fluid:first-child{
	background-color:#B31B1B;
	height:60px;
}

.navbar-default .navbar-brand{
	color:whitesmoke;
	font-size:x-large;
	margin-top:5px;
}

.navbar-default .navbar-brand:hover{
	color:#ddd;
}

.navbar-default .navbar-nav>li>a{
	color:whitesmoke;
	font-size:large;
	margin-top:5px;
}

.navbar-default .navbar-nav>li>a:hover{
	color:#ddd;
}

.complaint{
	border-bottom:1px solid #F2F2F2;
	height:80px;
	margin:5px;
}
.complaint-left{
	/*width:400px;*/
	height: 80px;
	float:left;
	vertical-align: center;
}
.complaint-right{
	/*width:100px;*/
	float:right;
	text-align: right;
	height:80px;
	vertical-align:center;
}
#logo{
	padding-top:0px;
	margin-top:0px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.complaint-left > a{
	font-size:16px;
}

.complaint-right > p{
	font-size:12px;
}

.complaint {
  margin-left: -50px;
}

.votes {
  margin-right: 15px;
}

.complaint-desc {
  font-size: 12px; 
  margin-left: 65px;
}