#main{
	width:1126px;
	height:600px;
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
}
#filters{
	width:200px;
	height:200px;
	border:1px solid red;
	float:left;
}
#mainFeed{
	width:800px;
	height:500px;
	border:1px solid blue;
	float:left;
}